In [ ]:
from sys import stdin

import pandas as pd

In [ ]:
dataIn = './../dataIn/'
dataOut = './../dataOut/'
myencoding = 'CP949'

In [ ]:
filename01 = dataIn + '가전제품판매량01.csv'
homeware01 = pd.read_csv(filename01, encoding=myencoding, index_col='지역')
homeware01

In [ ]:
filename02 = dataIn + '가전제품판매량02.csv'
homeware02 = pd.read_csv(filename02, encoding=myencoding, index_col='지역')
homeware02

In [ ]:
columnInfo01 = homeware01.columns # 상반기 컬럼 정보
columnInfo02 = homeware02.columns

In [ ]:
print('양쪽에 공통적으로 들어 있는 제품')
columnInfo01.intersection(columnInfo02)

In [ ]:
print('상반기에만 판매된 제품')
print(columnInfo01.difference(columnInfo02))

print('\n하반기에만 판매된 제품')
print(columnInfo02.difference(columnInfo01))

In [ ]:
print('분기별 판매량 결합')
result = pd.concat([homeware01, homeware02], join='inner')
result

In [ ]:
print('양쪽에 공통적이지 않은 항목은 NaN 데이터가 됩니다.')
result = pd.concat([homeware01, homeware02], axis=0) # outer join
result

In [ ]:
print('열방향으로 합치기')
result = pd.concat([homeware01, homeware02], axis=1)
result

In [ ]:
file01 = dataIn + '학생정보01.csv'
student = pd.read_csv(file01, encoding=myencoding)
student

In [ ]:
file02 = dataIn + '시험점수01.csv'
jumsu = pd.read_csv(file02, encoding=myencoding)
jumsu

In [ ]:
print('양쪽 프레임에 공통된 컬럼 정보')
col_student = student.columns
col_jumsu = jumsu.columns
col_student.intersection(col_jumsu)

In [ ]:
result = pd.merge(student, jumsu, on='id')
result

In [ ]:
# 아이디가 'kang'인 학생 정보 추출
chartdata03 = result.copy()
chartdata03 = chartdata03.loc[chartdata03['id']=='kang', ['과목', '점수']]
chartdata03 = chartdata03.set_index('과목')
chartdata03

In [ ]:
import matplotlib.pyplot as plt
plt.rc('font', family='Malgun Gothic')

In [ ]:
mylabel = chartdata03.index
chartdata03.plot(kind='pie', y= '점수', shadow=True, autopct='%1.2f%%', labels=mylabel)
plt.xlabel(chartdata03.index.name)
plt.title(f'과목별 점수 비율')

In [ ]:
result = pd.merge(student, jumsu, on='id', how='outer')
result

In [ ]:
result = pd.merge(student, jumsu, on='id', how='left')
result

In [ ]:
result = pd.merge(student, jumsu, on='id', how='right')
result

In [ ]:
file01 = dataIn + '학생정보02.csv'
student = pd.read_csv(file01, encoding=myencoding)
student

In [ ]:
file02 = dataIn + '시험점수02.csv'
jumsu = pd.read_csv(file02, encoding=myencoding)
jumsu

In [ ]:
result = pd.merge(student, jumsu, left_on='leftid', right_on='rightid')
result

In [ ]:
file01 = dataIn + '시험점수03.csv'
data01 = pd.read_csv(file01, encoding=myencoding)
data01

In [ ]:
file02 = dataIn + '시험점수04.csv'
data02 = pd.read_csv(file02, encoding=myencoding)
data02

In [ ]:
on_condition = ['이름', '과목']
result = pd.merge(data01, data02, on=on_condition, how='outer')
result

In [ ]:
file01 = dataIn + '시험점수05.csv'
data01 = pd.read_csv(file01, encoding=myencoding)
data01

In [ ]:
file02 = dataIn + '시험점수06.csv'
data02 = pd.read_csv(file02, encoding=myencoding)
data02

In [ ]:
print('동일 이름의 컬럼이 있는 경우, 접미사로 구분합니다.')
on_condition = ['이름', '과목']
result = pd.merge(data01, data02, on=on_condition, how='outer', suffixes=('_중간', '_기말'))
result

In [ ]:
filename = dataIn + 'pivotFile.csv'
data = pd.read_csv(filename, encoding='UTF-8')
data

In [ ]:
pivotData = data.pivot(index='name', columns='item', values='value')
pivotData

In [ ]:
pivotData = data.pivot(index='name', columns='item', values=['value', 'qty'])
pivotData

In [ ]:
print('직원별 월별 실적')
filename = dataIn + 'meltsheet.csv'
siljuk = pd.read_csv(filename, encoding='CP949')
siljuk

In [ ]:
chartdata = siljuk.copy()
chartdata = chartdata.set_index('이름').T
chartdata

In [ ]:
chartdata.plot(kind='line', figsize=(10, 6), ylim=(50, 100), rot=10)
plt.xlabel('월')
plt.ylabel('실적')
plt.title('직원별 월별 꺽은 선')

In [ ]:
siljuk

In [ ]:
siljuk_long = pd.melt(siljuk, id_vars=['이름'], var_name='월', value_name='실적')
siljuk_long

In [ ]:
filename = dataIn + 'movie_show.csv'
movieshow = pd.read_csv(filename, encoding='CP949')
movieshow

In [ ]:
movieshow_melt = pd.melt(movieshow, id_vars=['gu', 'year', 'month'], var_name='genre', value_name='qty')
movieshow_melt

In [ ]:
# aggfunc 매개 변수(집계 함수)의 기본 값은 평균(mean)입니다.
movieshow_pivot = movieshow_melt.pivot_table(index=['gu', 'year'], columns='month', values='qty', aggfunc='mean')
movieshow_pivot

In [ ]:
movieshow_pivot = movieshow_melt.pivot_table(index=['gu', 'year'], columns='month', values='qty', aggfunc='sum')
movieshow_pivot

In [ ]:
# 장르는 갯수, 수량(qty)은 평균 정보
dict_aggfunc = {'genre':'count', 'qty':'mean'}

movieshow_pivot = movieshow_melt.pivot_table(
    index=['gu', 'year'],
    columns='month',
    values=['genre', 'qty'],
    aggfunc=dict_aggfunc)
movieshow_pivot

In [95]:
# 특정 컬럼에 대하여 여러 개의 함수 지정이 가능합니다.
dict_aggfunc = {'qty': ['mean', 'sum']}

movieshow_pivot = movieshow_melt.pivot_table(
    index=['gu', 'year'],
    columns='genre',
    values='qty',
    aggfunc=dict_aggfunc)
movieshow_pivot

               mean                       sum
genre            공포        드라마         액션  공포 드라마  액션
gu  year
마포구 2020  16.666667  16.666667  10.000000  50  50  30
용산구 2020  23.333333  23.333333  26.666667  70  70  80

In [96]:
# 내부와 외부 색인을 합쳐서 간단하게 만들기
outer = movieshow_pivot.columns.get_level_values(0) # 외부 색인
inner = movieshow_pivot.columns.get_level_values(1) # 내부 색인

hangul_dict = {'mean':'평균', 'sum':'총합', 'max':'최대'}
newOuter = [hangul_dict[asdf] for asdf in outer]

newColumns = inner + '_' + newOuter
movieshow_pivot.columns = newColumns
movieshow_pivot

genre         공포_평균     드라마_평균      액션_평균  공포_총합  드라마_총합  액션_총합
gu  year
마포구 2020  16.666667  16.666667  10.000000     50      50     30
용산구 2020  23.333333  23.333333  26.666667     70      70     80